datasets==3.1.0
descriptastorus==2.8.0
dgl==2.2.1
dgllife==0.3.2
imbalanced_learn==0.12.4
imblearn==0.0
lifelines==0.29.0
matplotlib==3.9.2
numpy==2.1.3
openai==1.55.1
pandarallel==1.6.5
pandas==2.2.3
persist_to_disk==0.0.7
prettytable==3.12.0
quantile_forest==1.3.7
rdkit==2024.3.5
Requests==2.32.3
scikit_learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
subword_nmt==0.3.8
tdc==0.1
torch==2.3.1+cu121
torchvision==0.18.1+cu121
tqdm==4.66.4
transformers==4.46.0
umap==0.1.1
wget==3.2
xgboost==2.1.3
